:root {
  /* COLOR VARIABLES */
  --primary_color: #2a3a66;
  --secondary_color: #344880;
  --white: #fff;
  --link_hover: #e9283f;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
}

/* DEFAULT STYLES */
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: var(--regular);
  scroll-behavior: smooth;
  user-select: none;
  margin: 0;
  padding: 0;
}

.header,
.hero,
.about,
.believed,
.services,
.explore,
.contacts {
  max-width: 1620px;
  margin: 0 auto;
}

.hero,
.about,
.believed,
.services,
.explore,
.contacts {
  padding: 0 0 300px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 300px 0;
}

.header__nav-links {
  display: flex;
  gap: 30px;
}

.header__nav-linksLink {
  position: relative;
  text-decoration: none;
  font-size: 24px;
  color: var(--primary_color);
}

.header__nav-linksLink::before,
.header__nav-linksLink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  background-color: var(--primary_color);
  transition: width 0.3s ease-in-out;
}

.header__nav-linksLink::before {
  left: 50%;
  transform: translateX(-50%);
}

.header__nav-linksLink::after {
  right: 50%;
  transform: translateX(50%);
}

.header__nav-linksLink:hover::before,
.header__nav-linksLink:hover::after {
  width: 100%;
}

.header__hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  z-index: 6;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background-color: var(--primary_color);
  transition: 0.3s ease;
}

.open .line1 {
  transform: rotate(45deg) translateY(3px) translateX(4px);
}

.open .line2 {
  transform: rotate(-45deg) translateY(-2px) translateX(3px);
}

.open .line3 {
  display: none;
}

.header__hamburger-links {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  height: 100svh;
  width: 100%;
  background-color: var(--white);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  transition: left 1s ease;
  touch-action: none;
  z-index: 5;
}

.header__hamburger-links li {
  list-style: none;
}

.header__hamburger-links li a {
  font-size: 20px;
  font-weight: var(--medium);
  text-decoration: none;
  color: var(--primary_color);
}

.header__hamburger-links li a:hover {
  font-weight: bolder;
}

.header__hamburger-links.show {
  left: 0;
  opacity: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero__wrapper-title {
  font-size: 76px;
  font-weight: var(--medium);
  color: var(--primary_color);
}

.hero__wrapper-titleLight {
  font-weight: var(--extra-light);
  font-style: italic;
}

.hero__wrapper-text {
  max-width: 630px;
  font-size: 24px;
  font-weight: var(--regular);
  color: var(--primary_color);
}

.hero__wrapper-image {
  aspect-ratio: 1.63;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.hero__wrapper-mobImg {
  display: none;
  border-radius: 2px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about__title {
  position: sticky;
  top: 100px;
  font-size: 55px;
  font-weight: var(--medium);
  color: var(--secondary_color);
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__wrapper-firstBlock,
.about__wrapper-secondBlock,
.about__wrapper-thirdBlock {
  max-width: 633px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__wrapper-firstBlock-text,
.about__wrapper-secondBlock-text,
.about__wrapper-thirdBlock-text {
  font-size: 20px;
  color: var(--primary_color);
}

.about__wrapper-firstBlock-img {
  aspect-ratio: 1.37;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.about__wrapper-secondBlock-img {
  aspect-ratio: 1.38;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.about__wrapper-thirdBlock-img {
  aspect-ratio: 1.31;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.believed {
  display: flex;
  justify-content: space-between;
}

.believed__title {
  font-size: 55px;
  font-weight: var(--medium);
  color: var(--secondary_color);
}

.believed__wrapper {
  display: flex;
  align-items: flex-start;
  gap: 180px;
}

.services {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.services__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services__left-title {
  font-size: 55px;
  font-weight: var(--medium);
  color: var(--secondary_color);
}

.services__left-text {
  font-size: 24px;
  color: var(--secondary_color);
}

.services__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
}

.services__right-summary {
  list-style-type: none;
  position: relative;
  font-size: 48px;
  cursor: pointer;
  color: var(--primary_color);
  font-weight: var(--light);
}

details[open] > summary::before {
  content: '\2022';
  position: absolute;
  left: -40px;
  color: var(--primary_color);
}

.active,
.services__right-summary:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary_color);
}

.services__right-text {
  max-width: 580px;
  font-size: 20px;
  font-weight: normal;
  color: var(--primary_color);
  margin-top: 50px;
}

.explore {
  display: flex;
  flex-direction: column;
  gap: 167px;
}

.explore__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.explore__wrapper-title {
  max-width: 700px;
  font-size: 76px;
  font-weight: var(--medium);
  color: var(--primary_color);
}

.explore__wrapper-mobImg {
  display: none;
  border-radius: 2px;
}

.explore__wrapper-titleLight {
  max-width: 807px;
  font-weight: var(--extra-light);
  font-style: italic;
}

.explore__wrapper-text {
  max-width: 745px;
  font-size: 24px;
  font-weight: var(--regular);
  color: var(--primary_color);
}

.explore__wrapper-img {
  aspect-ratio: 1.48;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 112px;
}

.contacts__title {
  font-size: 55px;
  font-weight: var(--medium);
  color: var(--secondary_color);
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper-block {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper-blockText {
  font-size: 32px;
  font-weight: var(--medium);
  color: var(--primary_color);
}

.contacts__wrapper-blockLink {
  font-size: 28px;
  color: var(--primary_color);
  text-decoration: none;
}

.footer {
  padding: 100px 0;
  background-color: var(--secondary_color);
}

.footer__container {
  max-width: 1620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer__wrapper-text {
  font-size: 20px;
  color: var(--white);
}

.footer__arrow-link:hover circle {
  fill: var(--primary_color);
  transition: fill 0.3s ease-out;
}

.footer__arrow-link:hover path {
  fill: var(--white);
  transition: fill 0.3s ease-out;
}
